// heart icon fill up
i.anim:hover {
    background: linear-gradient($sec, $ter);
    padding-top: .1em;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    transition: all 1s ease-in;
    font-weight: $heart-anim;
}
// fade in slide menu
.animA{
    animation: fadein 1s ease-in;
    animation-delay: 0.1s;  
}
.animB{
    animation: fadein 1.2s ease-in;
    animation-delay: 0.3s;  
}
.animC{
    animation: fadein 1.4s ease-in;
    animation-delay: 0.5s;  
}
@keyframes fadein{
    0%{
        transform: translateY(1rem);
        opacity: 0;
    }
    
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
// Animation slide and check turn //
.plat .plat__check{
    width: 0;
    transition: .8s ease-out;
}
.plat:hover .plat__check{
    width: 5em;
    transition: 0.5s ease-in;
}
@media screen and (min-width: 1200px){
    .plat:hover .plat__check{
        width: 2.5em;
        margin-left: -2.1em;
        opacity: .6;
        transition: 0.5s ease-in;
        align-items: inherit;
        padding-top: .3em;
    }
}
.plat:hover .plat__right{
    border-radius: 0;
    @media screen and (min-width: 1200px){
       border-radius: 0 1em 1em 0; 
    }

}
// Animation rotate check //
.plat:hover .check-anim{
    animation: rotate .8s ease-in; 
 }
 @keyframes rotate {
     from {
         transform: rotate(0);
     }
     to {
         transform: rotate(-1turn);
     }
 }
 
