// heart icon fill up
i.anim:hover {
    background: linear-gradient($sec, $ter);
    padding-top: .1em;
    background-clip: text;
    color: transparent;
    // -webkit-background-clip: text;
    transition: all 1s ease-in;
    font-weight: $heart-anim;
}
// fade in slide menu
.animA{
    animation: fadein .2s ease-in;
    animation-delay: 0.1s;  
}
.animB{
    animation: fadein .4s ease-in;
    animation-delay: 0.2s;  
}
.animC{
    animation: fadein .6s ease-in;
    animation-delay: 0.3s;  
}
.animD{
    animation: fadein .8s ease-in;
    animation-delay: 0.4s;  
}
@keyframes fadein{
    0%{
        transform: translateY(1rem);
        opacity: 0;
    }
    
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
// Animation slide and check turn //
.plat .plat__check{
    width: 0;
    transition: .5s ease-out;
}
.plat:hover .plat__check{
    width: 5em;
    transition: 0.3s ease-in;
}
.plat:hover .plat__right{
    border-radius: 0;
    @media screen and (min-width: 1200px){
       border-radius: 0 1em 1em 0; 
    }

}
// Animation rotate check //
.plat:hover .check-anim{
    animation: rotate .3s ease-in; 
 }
 @keyframes rotate {
     from {
         transform: rotate(90deg);
     }
     to {
         transform: rotate(360deg);
     }
 }
 
