@import 'mixins';
.howto {
    display: flex;
    flex-flow: column wrap;
        &__title {
            margin-left: 1em;
            margin-top: 2em;
        }
        &__step {
            display: flex;
            background-color: $lblue;
            border-radius: 1.2em;
            margin: 1em 1.3em .5em 2em;
            padding: .5em;
            align-items: center;
            justify-content: start;
            flex-direction: row;
            @include box-shadow();
                &__step {
                    background-color: $prim;
                    color: $white;
                    font-weight: bold;
                    padding: .50em .75em;
                    border-radius: 50%;
                    margin-left: -1.5em;
                }
                &__fa {
                    margin-left: 1em;
                    color: $dgrey; 
                }
                &__fap {
                    margin-left: 1em;
                    color: $prim; 
                }
                &__text {
                    margin-left: 1.5em;
                }
        }
}