.list {
    max-width: 100%;
    background-color: $lblue;
    margin: 3.5em 0 0 0;
    padding-bottom: 2rem;
    &__title {
        padding: 3rem 0 0 1rem  ;
    }
    &__card {
        position: relative;
        background-color: $white;
        margin: 1.1em;
        border-radius: 2em;
        @include box-shadow;
        &__img {
           width: 100%;
            border-radius: 2em 2em 0 0;
            object-fit:contain;
        }
        &__nouveau {
            background: $ter;
            color: $nouveau;
            position: absolute;
            top: 3%;
            left: 75%;
            font-size: small;
            font-weight: bold;            
            padding: 5px 8px;
        }
        &__caption {
            display: flex;
            align-items: center;
            padding-bottom: 1em;
            &__text {
                margin: 0 0 0 1em ;
                line-height: .5;
            }
            &__heart {
                margin-left: auto;
                color: $dgrey;
                opacity: .6;
                margin-right: 1.5em;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .list {
       display: flex; 
       flex-wrap: wrap;
       flex-direction: row;
       justify-content: space-around;
       width: 50%;
    }
    .list__title {
        display: none;
    }
    .list__card {
        width: 40%;
    }
    
} 
@media screen and (min-width: 1280px) {
    .list__card {
        width: 20%;
    }
}