.list {
    max-width: 100%;
    background-color: $lblue;
    margin: 3.5em 0;
    &__title {
        padding: 3rem 0 1rem 1rem  ;
    }
    &__card {
        position: relative;
        background-color: $white;
        margin: 1.1em;
        border-radius: 2em;
        @include box-shadow;
        &__img {
           max-width: 100%;
            border-radius: 2em 2em 0 0;
            object-fit: none;
        }
        &__nouveau {
            background: $ter;
            color: $nouveau;
            position: absolute;
            top: 3%;
            left: 75%;
            font-size: small;
            font-weight: bold;            
            padding: 5px 8px;
        }
        &__caption {
            display: flex;
            align-items: center;
            padding-bottom: 1em;
            &__text {
                margin: 0 0 0 1em ;
                line-height: .5;
            }
            &__heart {
                margin-left: auto;
                color: $prim;
                margin-right: 1.5em;
            }
        }
    }
}
i.anim:hover {
    background: linear-gradient(#FF79DA, #99E2D0);
    padding-top: .1em;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    transition: all 1s ease-in;
    //transition-delay: .3s;
    font-weight: $heart-anim;
}

/* @media screen and (min-width: 417px) {
    .list {
        margin-left: auto;
        margin-right: auto;
        width: 50vw;
        height: auto;
    }
} */