.page__header {
    display: flex;
    padding: 1.3rem 0 .8rem 0;
    align-items: center;
    justify-content: center;
    &__icon {
        margin-right: 4rem;
    }
    &__logo {
        margin-right: 4rem;
        width: 30%;
    }
    &__palette {
        @include bg-img("../../images/restaurants/palette-small.jpg")
    }
    &__note {
        @include bg-img("../../images/restaurants/note-small.jpg")
    }
    &__france {
        @include bg-img("../../images/restaurants/france-small.jpg")
    }
    &__delice {
        @include bg-img("../../images/restaurants/delice-small.jpg")   
    }
}
.restaurant{
    background: $lblue;
    margin: -3rem 0 0 0;
    padding-bottom: 1.3em;
    border-radius: 2em 2em 0 0;
    &__name {
        display: flex;
        font-family: $font-cursive;
        align-items: center;
        justify-content: space-between;
        padding: 1.25em 0 0 1.25em;
    }
    &__icon {
        margin: auto;
        color: $dgrey;
        opacity: .6;
    }
}
.wrapper {
    &__title {
        font-weight: bold;
        color: $dgrey;
        opacity: .6;
        background: $lblue;
        padding: 1.3rem 0 3px 1rem;
    }
    hr{
        border: $ter solid 2px;
        width: 3em;
        margin: .3em 0 0 1em;
    }
}
.plat{
    display: flex;
    line-height: 1;
    margin: 1em 1em;
    border-radius: 1em;
    @include box-shadow;
    &__name{
        background-color: white;
        border-radius: 1em 0 0 1em;
        width: 100%;
        margin: 0 0 0 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        h3 {
        font-weight: normal;
        margin-bottom: .5em;
        padding-left: .5em;
        overflow: hidden;
        text-overflow: ellipsis;
        }
    }
    &__detail{
        padding: 5px 0 1em .5em;
        color: $text;
        font-weight: lighter;
        font-size: .9rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &__right{
        display: flex;
        align-items: flex-end;
        border-radius: 0 1em 1em 0;
        background-color: white;
    }
    &__right__prix{
        font-weight: bold;
        margin: 1em;
    }
    &__check{
        display: flex;
        justify-content: center;
        align-items: center;
        background: $ter;
        overflow: hidden;
        border-radius: 0 1em 1em 0;
        width: 0%;
    }
}
.fa-check-circle{
    color: white;
}
// -------------------------------- //
.wrapper__recipe h3 {
    margin: .6em;
    }
.order-btn {
    margin: 2em auto;
    color: $white;
    font-weight: bold;
    font-size: 1.1em;
    width: 50vw;
    background: rgb(237,115,218);
    background: linear-gradient(133deg, rgba(237,115,218,1) 0%, rgba(164,91,219,1) 100%); 
    border-radius: 3em;
    border: none;
    padding: 1em;
    @include box-shadow();
    text-align: center;
    &:hover {
        opacity: .8;
        @include box-shadow2;
    }
}

// Responsive //
@media screen and (min-width: 800px) {
    .restaurant__name h2{
        margin: auto;
    }
    .order-btn {
        width: 20vw;
    }
    .restaurant__name{
        width: 50%
    }
}
@media screen and (min-width: 1200px) {
    .restaurant__name h2{
        margin-left: 1em;
    }
    .desktop{
        display: flex;
        flex-direction: column;
        margin: 1em 0;
    }
    .container-desktop{
        display: flex;
        justify-content: space-around;
    }
    .restaurant__name{
        width: 40%
    }
    
}
