// Google Fonts
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Shrikhand&display=swap);

// Variables 
    $prim: #9356DC;
    $sec: #FF79DA;
    $ter: #99E2D0;
    $lblue: #f6f6f6;
    $dgrey: #353535;
    $lgrey: #eaeaea;
    $white: white;
    $text: black;
    $font-cursive: 'Shrikhand', cursive;
    $font-text: 'Roboto', sans-serif;

    @mixin border {
        border: 2px dashed tomato;
    }

// General
* {
    box-sizing: border-box;
}
body,p,a {
    margin: 0;
    padding: 0;
    color: $text;
    font-family: $font-text;
    text-decoration: none;
    background-color: $white;
    background-color: white;
}
.hidden {
    display: none;
}
// Header
.header {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
        &__logo {
            max-width: 100%;
            margin: 2em auto 1em auto;
        }
        &__search {
            background-color: $lgrey;
            padding: 1em 2em 1em 2em;
            margin: 0;
                &--icon {
                    margin-left: 1em;
                }
                &--input {
                    border: none;
                    background-color: $lgrey;
                    padding: 0;
                    font-weight: bold;
                    font-size: 1.3em;
                    text-align: center;
                }       
            }
        &__text {
            background-color: $lblue;
            &--title {
                margin: 1.5em 3em 1em 3em;
            }
            &--subtitle {
                margin: 0 2em 1em 2em;
                color: $dgrey;
                opacity: .6;
            }
            &--btn {
                margin: 1em 0 3em 0;
                color: $white;
                font-weight: bold;
                font-size: 1.1em;
                background: rgb(237,115,218);
                background: linear-gradient(133deg, rgba(237,115,218,1) 0%, rgba(164,91,219,1) 100%); 
                border-radius: 3em;
                border: none;
                padding: 1em;
            }
        }  
}

@media screen and(min-width: 440px) {
    
}




